body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock {
  font-size: calc(
    22vw + 22vh
  ); /*  viewport units to make the font size responsive */
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.controls label {
  margin-right: 1rem;
  color: #797777; /*  color of label text in the controls section */
}

.controls input {
  margin-right: 1rem;
  color: #000000; /*  color of text in the input   */
}

/* Fullscreen button styles */
#fullscreen-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

#fullscreen-btn svg {
  fill: #333;
}
